---
title: Dudhwal's: MITHAI IN MINUTES

toc_footers:
  - <a href='https://github.com/DudhwalSweets/slate/raw/main/source/downloads/pricelist.pdf'>Download Price list</a>

search: true

code_clipboard: true
---

